<core-ui-text-view text={{data}}></core-ui-text-view>

<mat-card class="home-report-card home-primary-card">
    <mat-card-title>
        <core-ui-text-view text="Kamis, 27 November 2019" classtouse="subtitle"></core-ui-text-view>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-header class="home-header-title">Dinas Kesehatan</mat-card-header>
    <mat-card-header class="home-header-role">UI/UX Designer</mat-card-header><br>
    <mat-card-content class="home-content-role">Desain Blog Dinas Kesehatan</mat-card-content>
    <mat-card-content class="home-content-role">Aplikasi Puskesmas</mat-card-content>
    <mat-card-content class="home-content-role">Desain dashboard pendaftaran…</mat-card-content>
    <mat-card-content class="home-content-role">+19 Pekerjaan lainnya</mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-header class="home-header-title">Macro Design System</mat-card-header>
    <mat-card-header class="home-header-role">UI/UX Designer</mat-card-header><br>
    <mat-card-content class="home-content-role">Desain Dashboard Element...</mat-card-content>
    <mat-card-content class="home-content-role">Desain Dashboard Element...</mat-card-content>
    <mat-card-content class="home-content-role">Desain Dashboard Element...</mat-card-content>
    <mat-card-content class="home-content-role">+19 Pekerjaan lainnya</mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-content class="home-content-role">+2 Project lainnya</mat-card-content>
    <core-ui-button text="Lihat isinya dong" classtouse="btn-blue btn-incard-homeconfirm"></core-ui-button>
</mat-card>

<mat-card class="home-report-card home-secondary-card">
    <mat-card-title>Selasa, 25 November 2019</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-header class="home-header-title">Dinas Kesehatan</mat-card-header>
    <mat-card-header class="home-header-role">UI/UX Designer</mat-card-header><br>
    <mat-card-content class="home-content-role">Desain Blog Dinas Kesehatan</mat-card-content>
    <mat-card-content class="home-content-role">Aplikasi Puskesmas</mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-header class="home-header-title">Macro Design System</mat-card-header>
    <mat-card-header class="home-header-role">UI/UX Designer</mat-card-header><br>
    <mat-card-content class="home-content-role">Desain Dashboard Element...</mat-card-content>

    <core-ui-button text="Lihat isinya dong" classtouse="btn-blue btn-incard-homeconfirm"></core-ui-button>
</mat-card>

<mat-card class="home-report-card home-danger-card">
    <mat-card-title>Senin, 24 November 2019</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="home-danger-role">Kamu belum isi laporan pada hari ini!</mat-card-content>
    <core-ui-button text="Aku kemarin sakit/cuti nih" classtouse="btn-tosca btn-incard-homeconfirm"></core-ui-button>
    <br><br>
    <core-ui-button text="Isi Laporan" classtouse="btn-red btn-incard-homecancel"></core-ui-button>
</mat-card>