<button (click)="openDialogUserSubmit()">User Kumpul Laporan</button>
<br><br>
<button (click)="openDialogUserDelete()">User Delete Laporan</button>
<br><br>
<button (click)="openDialogUserConfirmation()">User Konfirmasi Udah Submit Laporan</button>

<br><br>
<button (click)="openDialogAdminAdd()">Admin Tambah (ada form input)</button>
<br><br>
<button (click)="openDialogAdminEdit()">Admin Edit User</button>
<br><br>
<button (click)="openDialogAdminDelete('user')">Admin Delete User / projek edit datanya</button>