<button (click)="openDialogUserSubmit('Febry')">User Kumpul Laporan</button>
<br><br>
<button (click)="openDialogUserDelete('Fian')">User Delete Laporan</button>
<br><br>
<button (click)="openDialogUserConfirmation('Karel')">User Konfirmasi Udah Submit Laporan</button>

<br><br>
<button (click)="openDialogAdminAdd()">Admin Tambah (ada form input)</button>
<br><br>
<button (click)="openDialogAdminEdit()">Admin Edit User</button>
<br><br>
<button (click)="openDialogAdminDelete('Daniel' , 'user')">Admin Delete User / projek edit datanya</button>