<body>
  <component-header text="Hello, {{userName}} (Admin)"></component-header>
  <section id="main-dashboard-time">
    <div style="margin-left: 50px; display: inline-block;">
        <b class="top">
        <core-ui-text-view
            style="font-family: Source Sans Pro; font-size: large; margin-left: 50px;"
            classtouse="bold"
            text="{{ dataName }}"
        ></core-ui-text-view>
        </b>
    </div>


    <div *ngIf="showEmptyData">
      <div  style="font-size: 23px; font-family: Source Sans Pro; text-align:center;margin-top: 180px;">
        <b>Empty Data</b>
    </div>
    </div>

    <div *ngIf="showNameProject">
      <mat-card
        *ngFor="let item of objectCard"
        (click)="onClick(item)"
        class="cabor"
      >
        <mat-card-header>
          <mat-card-title class="title">{{
            item.reportdate | date: "fullDate"
          }}</mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content
          class="content"
          *ngFor="let role of item.rolename.slice(0, 3)"
        >
          <div><svg-group1191></svg-group1191> {{ role }}</div>
        </mat-card-content>
        <p class="content" *ngIf="item.rolename.length > 3">
          {{ "+ " + (item.rolename.length - 3) + " role lainnya" }}
        </p>
      </mat-card>
    </div>
    <div *ngIf="showNameRoles">
      <mat-card
        *ngFor="let item of objectCard"
        (click)="onClick()"
        class="cabor"
      >
        <mat-card-header>
          <mat-card-title class="title">{{
            item.reportdate | date: "fullDate"
          }}</mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content
          class="content"
          *ngFor="let project of item.projectname.slice(0, 3)"
        >
          <div><svg-group1191></svg-group1191> {{ project }}</div>
        </mat-card-content>
        <p class="content" *ngIf="item.projectname.length > 3">
          {{ "+ " + (item.projectname.length - 3) + " project lainnya" }}
        </p>
      </mat-card>
    </div>
  </section>
</body>
