<page-user-report-detail [dataDummy]="dummyUserReportDetail"></page-user-report-detail>

<!-- <add-report [dataProjectName] = "dummyProjectName" [dataRoles] = "dummyRoles"></add-report> -->
<!-- <app-login-scene></app-login-scene> -->
<!-- <page-admin-report-detail [dataDummy]="dummyReportDetail"></page-admin-report-detail> -->
<app-main-dashboard></app-main-dashboard>
<!-- <add-report [dataProjectName] = "dummyProjectName" [dataRoles] = "dummyRoles"></add-report>

<div>
  <h1>
    Welcome to Our Custom Text View
  </h1>
  <core-ui-text-view text="Halo, Default" classtouse="default"></core-ui-text-view>
  <core-ui-text-view text="Laporan; class=title" classtouse="title"></core-ui-text-view>
  <core-ui-text-view text="Kamis, 27 November 2019; class=subtitle" classtouse="subtitle"></core-ui-text-view>
  <core-ui-text-view text="Kamu dan Kamu; class=bold" classtouse="bold"></core-ui-text-view>
  <core-ui-text-view text="Kamu Belum Melakukan Traksaksi Apa Apa; class=grey" classtouse="grey"></core-ui-text-view>
  <core-ui-text-view text="Ada Project Lainnya Lagi Nih; class=blue" classtouse="blue"></core-ui-text-view>
  <core-ui-text-view text="Jangan dulu deh; class=red" classtouse="red"></core-ui-text-view>


<router-outlet></router-outlet>
<div>
<app-login-scene></app-login-scene>

<router-outlet></router-outlet>
