
<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to Our Custom Text View
  </h1>
  <app-custom-text-view text="Halo, Default" classtouse=""></app-custom-text-view>
  <app-custom-text-view text="Laporan; class=title" classtouse="title"></app-custom-text-view>
  <app-custom-text-view text="Kamis, 27 November 2019; class=subtitle" classtouse="subtitle"></app-custom-text-view>
  <app-custom-text-view text="Kamu dan Kamu; class=bold" classtouse="bold"></app-custom-text-view>
  <app-custom-text-view text="Kamu Belum Melakukan Traksaksi Apa Apa; class=grey" classtouse="grey"></app-custom-text-view>
  <app-custom-text-view text="Ada Project Lainnya Lagi Nih; class=blue" classtouse="blue"></app-custom-text-view>
  <app-custom-text-view text="Jangan dulu deh; class=red" classtouse="red"></app-custom-text-view>

</div>
<router-outlet></router-outlet>