<div class="row">
    <div class="column" >
         <div class="cardRD">
            <core-ui-text-view text="Laporan" classtouse="title"></core-ui-text-view>
            <core-ui-text-view text="Rabu, 26 November 2019" classtouse="subtitle"></core-ui-text-view>
        </div><br>
        <div class="cardRD" [style.border-color]="toggle0 ? 'lightgrey' : 'blue'" (click)="enableDisableRule0()">
            <core-ui-text-view text="Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
            <core-ui-text-view text="UI/UX Designer" classtouse="grey"></core-ui-text-view>
            <core-ui-text-view text="Kamu sudah melakukan 4 pekerjaan pada project ini" classtouse="blue"></core-ui-text-view>
        </div><br>
        <div class="cardRD" [style.border-color]="toggle1 ? 'lightgrey' : 'blue'" (click)="enableDisableRule1()">
            <core-ui-text-view text="Macroad Design System" classtouse="bold"></core-ui-text-view>
            <core-ui-text-view text="UI/UX Designer" classtouse="grey"></core-ui-text-view>
            <core-ui-text-view text="Kamu sudah melakukan 193 pekerjaan pada project ini" classtouse="blue"></core-ui-text-view>
        </div>
        <br><br>
        <core-ui-button text="Edit laporan" classtouse="btn-blue btn-free-reportadd"></core-ui-button>
    </div>
    <!-- <div class="column">
     <div class="vl"></div>
    </div> -->
    <div class="column" >
        <div class="cardRD2">
            <div class="pesento space-between">
                <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
            </div>
            <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
        </div><br>
        <div class="cardRD2">
            <div class="pesento space-between">
                <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
            </div>
            <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
        </div><br>
    </div>
    <div class="column" >
        <div class="cardRD2">
            <div class="pesento space-between">
                <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
            </div>
            <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
        </div><br>
        <div class="cardRD2">
            <div class="pesento space-between">
                <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
            </div>
            <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
        </div><br>
    </div>
</div>
