.pla
  display: table-cell

.checkmark
  position: absolute
  left: 0
  height: 25px
  width: 25px
  background-color: #eee
  &:after
    content: ""
    position: absolute
    display: none

.cont-blue
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
  &:hover input ~ .checkmark
    background-color: #ccc
  input:checked ~ .checkmark
    &:after
      display: block
    background-color: #2196F3
  .checkmark:after
    left: 9px
    top: 5px
    width: 5px
    height: 10px
    transform: rotate(45deg)
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)

.cont-red
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
  &:hover input ~ .checkmark
    background-color: #ccc
  input:checked ~ .checkmark
    &:after
      display: block
    background-color: #FF3300
  .checkmark:after
    left: 9px
    top: 5px
    width: 5px
    height: 10px
    transform: rotate(45deg)
    border: solid black
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)